/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 30, 2019, 4:03:04 PM
    Author     : Malte
*/

/* Set a background image by replacing the URL below */
body {
  background: url('https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2014/02/the_sentinel_family/14297746-1-eng-GB/The_Sentinel_family.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}